# This is the default config

# Orders
Np_1d = 2
Np_1d_filter = 2

# Analysis
instance = cantilever  # options: cantilever, lbracket
E = 1e2
nu = 0.3
nx = 128
ny = 64
lx = 2.0
ly = 1.0
helmholtz_r0 = 0.1
loaded_frac = 0.1  # fraction of the height where the load will be applied
use_ersatz = true  # model the void with a very weak elastic material

# Robust projection
use_robust_projection = true
robust_proj_beta = 12.0
robust_proj_eta = 0.51  # > 0.5 is dilate realization, < 0.5 is erode realization

# Coefficient c of the penalty term of the objective:
# f = ... + c * ∫ (<∇x, ∇x> - 1)^2 dΩ
# Purpose of this penalization is to make x as close to signed distance function
# as possible
grad_penalty_coeff = 1e-10

# Initial topology
init_topology_nholes_x = 6        # number of holes in x
init_topology_nholes_y = 3        # number of holes in y
init_topology_r = 0.1             # hole radius
init_topology_cell_center = true  # put holes on cell centers, otherwise on vertices

# Optimization
area_frac = 0.5
max_it = 1000
mma_init_asymptote_offset = 0.2
mma_move_limit = 0.2
max_major_iters = 100
penalty_gamma = 1e3
qn_subspace_size = 10
qn_type = bfgs
abs_res_tol = 1e-8
starting_point_strategy = affine_step
# barrier_strategy = mehrotra_predictor_corrector
barrier_strategy = mehrotra
use_line_search = false

# Misc
write_vtk_every = 5
save_prob_json_every = 1
